[submodule "BackendProject"]
	path = BackendProject
	url = https://github.com/musat-andreea/BackendProject
	branch = main
	ignore = all
[submodule "DWBI_Project"]
	path = DWBI_Project
	url = https://github.com/musat-andreea/DWBI_Project
	branch = master
	ignore = all
